# Licensed to ObjectStyle LLC under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ObjectStyle LLC licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

language: java

jdk:
  - openjdk8
  - oraclejdk11
  - openjdk-ea

script:
  - mvn clean verify

jobs:
  include:
    - stage: deploy
      jdk: oraclejdk8
      script: mvn clean source:jar javadoc:javadoc deploy -DskipTests --settings travis_settings.xml
      if: branch IN (master, 1.0-STABLE) AND type IN (push) AND repo = bootique/bootique-bom

# travis encrypt -r bootique/bootique-bom "CI_DEPLOY_USERNAME='name'"
# travis encrypt -r bootique/bootique-bom "CI_DEPLOY_PASSWORD='password'"
env:
  global:
    - secure: "XIlE2eRLWFrbSFHHrQW6fAoSSehADcWxy4mUBMle2YZ78vOnJifVzRKg42AP0uogLYrlTGfXDDBPZRd5Bnlo+keEZQkbZpTpw9q7L0JZKBIWRoDdFa+H4KVDqjQnV4ZtDStRtyOGL/C4l6GSm5a8RpOc8EupR7BbTF7Im/H7h7Va5WfmtO73fL84PYO/KfFrIs1xp6qTeamQx40I5uT5sBRsghcZPa+wLTOGu0i5uBzKipkPuwheGH5JXSOOITJBTc8cfXIsKqYKQ2bHlIA+/+hbj+ZnWdLgGmVPkQtEF51iWfwiek0olo19nSTISnxtIx50dCBh0N87uRXx1Kue0BAT/Hlr2me2eUY0V5PbejA7v2HOUoTDs8nKlNsy42QETkatScbiaJMh+WFL+5euq/WFERq68BngQsLm3hkvEjs73gfsaqYHEGu88YN+gLh0+nUUCdZWg72yIb8kFzwzujILkRbtlMfcWHhzg/5pdB8ksARowhkwcTT8Sff3y/W/SwK5aw5vTEey5BjGeV3aKqzBeZ/M14QrpJgYpTfNLARNcQn84fuB4+JYJa4i2MVmguWtlbXfuHPOkXf1KK//tgQANFOhj2qxWu5g+I2NEbsTJAQ+widHEl132/rgE627hg9fMhBaMElD0CbCoxDynq7qlwhY11FvHFdhNnjsntY="
    - secure: "ZoyzGcuC3W/9MNbzMZHSd2KVpYMxaFC0DUDwdrlfELfu+QvKQK57Dw1dSpgXNHRLmc89JS+Uy9j9nSmTX51L8ZEcED2TBTjVYLDWE7RanyzqMYIWqFJxjf3a1/k6tXIm8qij+tE8gI0sm/8S52JlTznmMRMjExZ8pSVvP9DUF1isxMUoVyBp8yqrm10EfDCGdfgJ63UH9LBIRgNc6sl5FCiOObfH/VflOzEn1wWlhezkOY/U1OoMqrT4gqD5+R0Tvej5UIrde7v9XGAxDCSMifdPecAWFK09leaPJMUPnzAGqVjaaEx5Akk3CA6YIMryWF+PUvGr40btjZABjiCkwPaGP5wxQyHm61OqS6L+Vn1y/dq2QZOztpQ3hd9KFiPzcD9mYSru7KQHPJx1KoS+5OUv/PpY5zq1MuJ+LYtaPffbWDHEScouYUo/i9HaaMT76ZuvFR+x3tQNGZuQ4TkDhpOcZDMWiz7wY7foCen/e4LNfN2MJBMwobbrGvLRnzl2yMJjzD8YYcQThBuCh6uqaBemgE7iRzEPzr2za3eEY3/oj/VtdxyogiYvJlsNZJxqHe7xoDGCw1jzl4JcM5pPpIAZ4yDWva0Di7yMFUGyf4q+zkUJpRWdqvWQwZTBwJeD7ju5+BguF5CXCAIlVZzccx7xi168TyBeV9se+TzS8LM="

